html
    head
        title= title
        link(rel='stylesheet',href='https://unpkg.com/chota@latest').
        link(rel='stylesheet',href='/css/custom.css').
        script(type='text/javascript',src='/js/routie.min.js').
        script(type='text/javascript',src='/js/custom.js').
        script(type='text/javascript',src='/js/md5.js').
        script(type='text/javascript',src='/js/sprintf.js').
        script(type='text/javascript').
            var endpoints={
                "albums":"https://jsonplaceholder.typicode.com/albums",
                "users":"http://localhost:3001/users",
                "signupformurl":"http://localhost:3001/signup?uname=%(uname)s&pass=%(pass)s"
            };
            var urls={
                "signup":{
                        "headerId":"header",
                        "headerSignup":"Signup",
                        "signupId":"signupform",
                        "signupformsubmitId":"signupformsubmit",
                        "signupformstatusId":"signupformstatus",
                        "signupformstatusGood":"Success.",
                        "signupformstatusBad":"Fail. Reason - %(reason)s.",
                        "signupformusernameId":"signupformusername",
                        "signupformpassId":"signupformpass"
                },
                "login":{
                        "headerId":"header",
                        "headerLogin":"Login",
                        "loginId":"loginform"
                },
                "me":{
                        "itemsId":"items",
                        "listDivId":"list",
                        "headerId":"header",
                        "headerMe":"Me"
                },
                "updatepass":{
                    "headerId":"header",
                    "headerUpdatepass":"Passphrase",
                    "updatePassId":"passform"
                },
                "albums":{
                    "listDivId":"list",
                    "itemsId":"items",
                    "headerId":"header",
                    "headerAlbums":"Albums"
                },
                "users":{
                    "listDivId":"list",
                    "itemsId":"items",
                    "headerId":"header",
                    "headerUsers":"Users"
                }
            };
            var request=new XMLHttpRequest();
            var limit=17;
            var parsed=null;
            var i=0;
            var items=null;
            var child=null;
            var childTxt=null;
            var header=null;
            var initHash='#albums';
            var listDiv=null;
            var doHideClass='dohide';
            var addHideClass='is-hidden';
            var signupItem=null;
            var loginItem=null;
            var updatePassItem=null;
            var signupformsubmitItem=null;
            var signupformstatusItem=null;
            var signupformusernameItem=null;
            var signupformpassItem=null;
            var signupformusernameTxt='';
            var signupformpassTxt='';
            var signupformreqTxt='';

            document.addEventListener('DOMContentLoaded', function(event){
                console.log('document loaded');
                routie({
                    'signup': function(){
                        addClassToElements(
                            document.getElementsByClassName(doHideClass),
                        addHideClass);
                        header=document.getElementById(urls.signup.headerId);
                        header.innerText=urls.signup.headerSignup;
                        signupItem=document.getElementById(urls.signup.signupId);
                        signupItem.classList.remove(addHideClass);
                        signupformsubmitItem=document.getElementById(
                            urls.signup.signupformsubmitId
                        );
                        signupformstatusItem=document.getElementById(
                            urls.signup.signupformstatusId
                        );
                        signupformusernameItem=document.getElementById(
                            urls.signup.signupformusernameId
                        );
                        signupformpassItem=document.getElementById(
                            urls.signup.signupformpassId
                        );
                        signupformsubmitItem.onclick=function(){
                            removeClassFromElements([signupformstatusItem],"error");
                            removeClassFromElements([signupformstatusItem],"success");
                            signupformusernameTxt=signupformusernameItem.value;
                            signupformpassTxt=signupformpassItem.value;
                            signupformreqTxt=sprintf(endpoints.signupformurl,
                                {
                                    "uname":signupformusernameTxt,
                                    "pass":signupformpassTxt
                                }
                            );
                            request.open('GET',signupformreqTxt);
                            request.send();
                            request.onreadystatechange=function(){
                                if(this.status==200 && this.readyState==4){
                                    signupformstatusItem.placeholder=
                                    urls.signup.signupformstatusGood;
                                    addClassToElements(
                                        [signupformstatusItem],"success");
                                } else{
                                    signupformstatusItem.placeholder=
                                        sprintf(
                                            urls.signup.signupformstatusBad,
                                            {"reason":JSON.parse(
                                                request.responseText
                                            )["message"]}
                                        );
                                    addClassToElements(
                                        [signupformstatusItem],"error");
                                }
                            }
                            console.log('signupformsubmitclick',
                                signupformusernameTxt,signupformpassTxt);
                        };
                    },
                    'login': function(){
                        addClassToElements(
                            document.getElementsByClassName(doHideClass),
                        addHideClass);
                        header=document.getElementById(urls.login.headerId);
                        header.innerText=urls.login.headerLogin;
                        loginItem=document.getElementById(urls.login.loginId);
                        loginItem.classList.remove(addHideClass);
                    },
                    'me': function() {
                        items=document.getElementById(urls.me.itemsId);
                        makeListEmpty(items);
                        addClassToElements(
                            document.getElementsByClassName(doHideClass),
                        addHideClass);
                        listDiv=document.getElementById(urls.me.listDivId);
                        listDiv.classList.remove(addHideClass);
                        header=document.getElementById(urls.me.headerId);
                        header.innerText=urls.me.headerMe;
                        child=document.createElement('LI');
                        childTxt=document.createTextNode('Number of likes: 11');
                        child.appendChild(childTxt);
                        items.appendChild(child)
                    },
                    'updatepass': function(){
                        addClassToElements(
                            document.getElementsByClassName(doHideClass),
                        addHideClass);
                        header=document.getElementById(urls.updatepass.headerId);
                        header.innerText=urls.updatepass.headerUpdatepass;
                        updatePassItem=document.getElementById(
                            urls.updatepass.updatePassId
                        );
                        updatePassItem.classList.remove(addHideClass);
                    },
                    'albums': function(){
                        listDiv=document.getElementById(urls.albums.listDivId);
                        request.open('GET',endpoints['albums']);
                        request.send();
                        items=document.getElementById(urls.albums.itemsId);
                        makeListEmpty(items);
                        addClassToElements(
                            document.getElementsByClassName(doHideClass),
                        addHideClass);
                        listDiv.classList.remove(addHideClass);
                        header=document.getElementById(urls.albums.headerId);
                        header.innerText=urls.albums.headerAlbums;
                        request.onreadystatechange=function(){
                            if(this.status==200 && this.readyState==4){
                                parsed=JSON.parse(request.responseText);
                                listAppendNode(items,parsed,function(lst,item){
                                    var chld=document.createElement('LI');
                                    var chldTxt=document.createTextNode(
                                        item.title+' (Title)'
                                    );
                                    chld.appendChild(chldTxt);
                                    lst.appendChild(chld);
                                });
                            }
                        }
                    },
                    'users': function(){
                        listDiv=document.getElementById(urls.users.listDivId);
                        request.open('GET',endpoints['users']);
                        request.send();
                        items=document.getElementById(urls.users.itemsId);
                        makeListEmpty(items);
                        addClassToElements(
                            document.getElementsByClassName(doHideClass),
                        addHideClass);
                        listDiv.classList.remove(addHideClass);
                        header=document.getElementById(urls.users.headerId);
                        header.innerText=urls.users.headerUsers;
                        request.onreadystatechange=function(){
                            if(this.status==200 && this.readyState==4){
                                parsed=JSON.parse(request.responseText);
                                parsed.sort(function(a,b){
                                    return (a.likes - b.likes)
                                });
                                listAppendNode(items,parsed,function(lst,item){
                                    var chld=document.createElement('LI');
                                    var chldTxt=document.createTextNode(
                                        item.uname+' (Name), '+
                                        item.likes+' (Likes)'
                                    );
                                    chld.appendChild(chldTxt);
                                    lst.appendChild(chld);
                                });
                                console.log(request.responseText);
                            }
                        }
                    }
                });
            });

    body
        div
            div.row
                div.col-12
                    div.card.is-borderless
                        h1#header= message
            div.row
                div.col-2
                    div.card.is-borderless
                        a(href='#signup') Signup
                div.col-2
                    div.card.is-borderless
                        a(href='#login') Log in
                div.col-2
                    div.card.is-borderless
                        a(href='#me') Me
                div.col-2
                    div.card.is-borderless
                        a(href='#updatepass') Passphrase
                div.col-2
                    div.card.is-borderless
                        a(href='#albums') Albums
                div.col-2
                    div.card.is-borderless
                        a(href='#users') Users
            div#list.row.dohide
                div.col-12
                    ol#items
            div#signupform.row.dohide
                div.col-12
                    form#signupformform
                        fieldset
                            legend Signup
                            p
                                label(for='signupformusername') Username
                                input(id='signupformusername').
                            p
                                label(for='signupformpass') Passphrase
                                input(id='signupformpass')
                            p
                                label(for='signupformstatus') Status
                                input(id='signupformstatus',placeholder='Check signup status (leave blank).')
                            p
                                button#signupformsubmit.button.primary Submit
            div#loginform.row.dohide
                div.col-12
                    form#loginformform
                        fieldset
                            legend Login
                            p
                                label(for='loginformusername') Username
                                input(id='loginformusername').
                            p
                                label(for='loginformpass') Passphrase
                                input(id='loginformpass').
                            p
                                label(for='loginformstatus') Status
                                input(id='loginformstatus',placeholder='Check login status (leave blank).')
                            p
                                button#loginformsubmit.button.primary Submit
            div#passform.row.dohide
                div.col-12
                    form#passformform
                        fieldset
                            legend Passphrase
                            p
                                label(for='passformoldpass') Old passphrase
                                input(id='passformoldpass').
                            p
                                label(for='passformpass') Current passphrase
                                input(id='passformpass').
                            p
                                label(for='passformstatus') Status
                                input(id='passformstatus', disabled)
                            p
                                button#passformsubmit.button.primary Submit
