html
    head
        title= title
        link(rel='stylesheet',href='https://unpkg.com/chota@latest').
        link(rel='stylesheet',href='/css/custom.css').
        script(type='text/javascript',src='/js/routie.min.js').
        script(type='text/javascript',src='/js/custom.js').
        script(type='text/javascript').
            var endpoints={
                "albums":"https://jsonplaceholder.typicode.com/albums",
                "users":"https://jsonplaceholder.typicode.com/users"
            };
            var request=new XMLHttpRequest();
            var limit=17;
            var parsed=null;
            var i=0;
            var itemsId='items';
            var items=null;
            var child=null;
            var childTxt=null;
            var headerId='header';
            var header=null;
            var headerAlbums='Albums';
            var headerUsers='Users';
            var headerSignup='Signup';
            var headerLogin='Login';
            var headerMe='Me';
            var headerUpdatepass='Passphrase';
            var initHash='#albums';
            var listDivId='list';
            var listDiv=null;
            var doHideClass='dohide';
            var addHideClass='is-hidden';
            var signupId='signupform';
            var signupItem=null;
            var loginId='loginform';
            var loginItem=null;
            var updatePassId='passform';
            var updatePassItem=null;

            document.addEventListener('DOMContentLoaded', function(event){
                console.log('document loaded');
                routie({
                    'signup': function(){
                        addClassToElements(
                            document.getElementsByClassName(doHideClass),
                        addHideClass);
                        header=document.getElementById(headerId);
                        header.innerText=headerSignup;
                        signupItem=document.getElementById(signupId);
                        signupItem.classList.remove(addHideClass);
                    },
                    'login': function(){
                        addClassToElements(
                            document.getElementsByClassName(doHideClass),
                        addHideClass);
                        header=document.getElementById(headerId);
                        header.innerText=headerLogin;
                        loginItem=document.getElementById(loginId);
                        loginItem.classList.remove(addHideClass);
                    },
                    'me': function() {
                        items=document.getElementById(itemsId);
                        makeListEmpty(items);
                        addClassToElements(
                            document.getElementsByClassName(doHideClass),
                        addHideClass);
                        listDiv=document.getElementById(listDivId);
                        listDiv.classList.remove(addHideClass);
                        header=document.getElementById(headerId);
                        header.innerText=headerMe;
                        child=document.createElement('LI');
                        childTxt=document.createTextNode('Number of likes: 11');
                        child.appendChild(childTxt);
                        items.appendChild(child)
                    },
                    'updatepass': function(){
                        addClassToElements(
                            document.getElementsByClassName(doHideClass),
                        addHideClass);
                        header=document.getElementById(headerId);
                        header.innerText=headerUpdatepass;
                        updatePassItem=document.getElementById(updatePassId);
                        updatePassItem.classList.remove(addHideClass);
                    },
                    'albums': function(){
                        listDiv=document.getElementById(listDivId);
                        request.open('GET',endpoints['albums']);
                        request.send();
                        items=document.getElementById(itemsId);
                        makeListEmpty(items);
                        addClassToElements(
                            document.getElementsByClassName(doHideClass),
                        addHideClass);
                        listDiv.classList.remove(addHideClass);
                        header=document.getElementById(headerId);
                        header.innerText=headerAlbums;
                        request.onreadystatechange=function(){
                            if(this.status==200 && this.readyState==4){
                                parsed=JSON.parse(request.responseText);
                                for(i=0;i<limit && i<parsed.length;i++){
                                    child=document.createElement('LI');
                                    childTxt=document.createTextNode('Title - '+parsed[i].title);
                                    child.appendChild(childTxt);
                                    items.appendChild(child);
                                    console.log(parsed[i]);
                                }
                            }
                        }
                    },
                    'users': function(){
                        listDiv=document.getElementById(listDivId);
                        request.open('GET',endpoints['users']);
                        request.send();
                        items=document.getElementById(itemsId);
                        makeListEmpty(items);
                        addClassToElements(
                            document.getElementsByClassName(doHideClass),
                        addHideClass);
                        listDiv.classList.remove(addHideClass);
                        header=document.getElementById(headerId);
                        header.innerText=headerUsers;
                        request.onreadystatechange=function(){
                            if(this.status==200 && this.readyState==4){
                                parsed=JSON.parse(request.responseText);
                                for(i=0;i<limit && i<parsed.length;i++){
                                    child=document.createElement('LI');
                                    childTxt=document.createTextNode(
                                        'Id - '+parsed[i].id+', Name - '
                                        + parsed[i].name + ', Address - ' +
                                        parsed[i].address.street + ', ' + 
                                        parsed[i].address.suite + ', ' +
                                        parsed[i].address.city
                                    );
                                    child.appendChild(childTxt);
                                    items.appendChild(child);
                                    console.log(parsed[i]);
                                }
                                console.log(request.responseText);
                            }
                        }
                    }
                });
            });

    body
        div
            div.row
                div.col-12
                    div.card.is-borderless
                        h1#header= message
            div.row
                div.col-2
                    div.card.is-borderless
                        a(href='#signup') Signup
                div.col-2
                    div.card.is-borderless
                        a(href='#login') Log in
                div.col-2
                    div.card.is-borderless
                        a(href='#me') Me
                div.col-2
                    div.card.is-borderless
                        a(href='#updatepass') Passphrase
                div.col-2
                    div.card.is-borderless
                        a(href='#albums') Albums
                div.col-2
                    div.card.is-borderless
                        a(href='#users') Users
            div#list.row.dohide
                div.col-12
                    ul#items
            div#signupform.row.dohide
                div.col-12
                    form#signupformform
                        fieldset
                            legend Signup
                            p
                                label(for='signupformusername') Username
                                input(id='signupformusername').
                            p
                                label(for='signupformpass') Passphrase
                                input(id='signupformpass')
                            p
                                button#signupformsubmit.button.primary Submit
            div#loginform.row.dohide
                div.col-12
                    form#loginformform
                        fieldset
                            legend Login
                            p
                                label(for='loginformusername') Username
                                input(id='loginformusername').
                            p
                                label(for='loginformpass') Passphrase
                                input(id='loginformpass').
                            p
                                button#loginformsubmit.button.primary Submit
            div#passform.row.dohide
                div.col-12
                    form#passformform
                        fieldset
                            legend Passphrase
                            p
                                label(for='passformoldpass') Old passphrase
                                input(id='passformoldpass').
                            p
                                label(for='passformpass') Current passphrase
                                input(id='passformpass').
                            p
                                button#passformsubmit.button.primary Submit
